---
layout: default
title: Home
---

<p>index.html</</p>

{% assign image_files = site.static_files  %}
<div class="gallery" style="display: flex; flex-wrap: wrap; gap: 20px;">
  {% for myimage in image_files %}
  {% assign theslice = myimage.basename | slice: 4,4 %}
   {% if theslice == "2026"   %}
    <div class="image-container">
      <img src="{{ myimage.path | relative_url }}" alt="Image" style="max-width: 200px; height: auto;">
      <p style="font-size: 12px;">{{ myimage.path }}</p>
    </div>
   {% endif %}
  {% endfor %}
</div>

