---
layout: default
---
<h1>{{ page.name }}</h1>
<h2>{{ page.position }}</h2>
<p>_layouts/author.html</p>
<p>page.short_name 1: {{ page.short_name }}</p>
{{ content }}

<h2>Posts</h2>
<ul>
  {% for post in site.posts %}
    <li>
      Vérification : Article par "{{ post.author }}" 
      vs Auteur cible "{{ page.short_name }}"
    </li>
  {% endfor %}
</ul>

<ul>
  {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
  {% for post in filtered_posts %}
    <li><a href="{{ post.url|relative_url }}">{{ post.title }} -- {{ post.author }} -- {{ page.short_name }}</a></li>
  {% endfor %}
</ul>
